@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Playfair Display';
  font-style: italic;
}

.singleLine {
  width: 100%;
  height: 10vh;
  position: relative;
  overflow: hidden;
}

.singleText {
  position: absolute;
  font-size: 8vw;
  color: black;
  line-height: 8vw;
}